<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:sec="http://www.springframework.org/schema/security"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                        http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security-4.2.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <context:property-placeholder location="classpath*:common.properties" />

    <http use-expressions="true"
            create-session="stateless"
            entry-point-ref="restAuthenticationEntryPoint"
            authentication-manager-ref="authenticationManager"
            pattern="/rest/**">
        <intercept-url pattern="/rest/**" access="hasRole('ROLE_CAR')" requires-channel="${wsChannel}"/>
        <custom-filter ref="restServicesFilter" before="PRE_AUTH_FILTER"/>
        <logout/>
        <csrf disabled="true"/>
        <http-basic/>
    </http>

    <http use-expressions="true"
            authentication-manager-ref="authenticationManager"
            auto-config="true"
            create-session="always">
        <intercept-url pattern="/my/**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')"/>
        <intercept-url pattern="/service/**" access="hasRole('ROLE_ADMIN')"/>
        <form-login 
            login-page="/login"
            authentication-failure-handler-ref="simpleUrlAuthenticationFailureHandler"
            username-parameter="username"
            password-parameter="password"
            default-target-url="/home"
            always-use-default-target="false"/>
        <logout logout-success-url="/logout" invalidate-session="true" delete-cookies="JSESSIONID"/>
        <http-basic />
        <remember-me key="uniqueAndSecret"
        	token-validity-seconds="1209600"
        	remember-me-cookie="edrive"
        	remember-me-parameter="_spring_security_remember_me"
        	user-service-ref="localUserService"/>
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <password-encoder hash="md5"/>
            <user-service id="userDetailsService" properties="classpath:users.properties"/>
        </authentication-provider>
        <authentication-provider ref="localAuthenticationProvider"/>
    </authentication-manager>

    <beans:bean id="localAuthenticationProvider" class="com.ya0ne.web.security.LocalAuthenticationProvider"/>

    <beans:bean id="localUserService" class="com.ya0ne.web.security.LocalUserService"/>

    <beans:bean id="restServicesFilter" class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
        <beans:property name="authenticationManager" ref="authenticationManager" />
        <beans:property name="authenticationSuccessHandler" ref="restServicesSuccessHandler" />
        <beans:property name="authenticationFailureHandler" ref="restServicesFailureHandler" />
    </beans:bean>

    <beans:bean id="simpleUrlAuthenticationFailureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
        <beans:property name="defaultFailureUrl" value="/login?error"/>
    </beans:bean>    

    <!-- A handler for successful REST service authentication. -->
    <beans:bean id="restServicesSuccessHandler" class="com.ya0ne.web.security.RestAuthenticationSuccessHandler" />

    <!-- A handler for failed REST service authentication. -->
    <beans:bean id="restServicesFailureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler" />

    <beans:bean id="restAuthenticationEntryPoint" class="com.ya0ne.web.security.RestAuthenticationEntryPoint"/>    

    <global-method-security secured-annotations="enabled" />

</beans:beans>
